<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../assets/js/mind.js"></script>
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Audiowide|Trirong|Tangerine">
  <style>
        /* Add a black background color to the top navigation */
        .topnav {
        background-color: lightblue;
        overflow: hidden;
      }
  
      /* Style the links inside the navigation bar */
      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
  
      /* Add an active class to highlight the current page */
      .active {
        background-color: #4CAF50;
        color: white;
      }
  
      /* Hide the link that should open and close the topnav on small screens */
      .topnav .icon {
        display: none;
      }
  
      /* Dropdown container - needed to position the dropdown content */
      .dropdown {
        float: left;
        overflow: hidden;
      }
  
      /* Style the dropdown button to fit inside the topnav */
      .dropdown .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
  
      /* Style the dropdown content (hidden by default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
  
      /* Style the links inside the dropdown */
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
  
      /* Add a dark background on topnav links and the dropdown button on hover */
      .topnav a:hover,
      .dropdown:hover .dropbtn {
        background-color: #555;
        color: white;
      }
  
      /* Add a grey background to dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
      }
  
      /* Show the dropdown menu when the user moves the mouse over the dropdown button */
      .dropdown:hover .dropdown-content {
        display: block;
      }
  
      /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
      @media screen and (max-width: 600px) {
  
        .topnav a:not(:first-child),
        .dropdown .dropbtn {
          display: none;
        }
  
        .topnav a.icon {
          float: right;
          display: block;
        }
      }
  
      /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
      @media screen and (max-width: 600px) {
        .topnav.responsive {
          position: relative;
        }
  
        .topnav.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
  
        .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
  
        .topnav.responsive .dropdown {
          float: none;
        }
  
        .topnav.responsive .dropdown-content {
          position: relative;
        }
  
        .topnav.responsive .dropdown .dropbtn {
          display: block;
          width: 100%;
          text-align: left;
        }
      }
  
      .pbox {
        border: 4px chocolate dotted;
        /* isplay: flex; */
      }
  
      body {
          margin: 0px;
      }
      #navimg {
        width: 100%;
        height: 90%;
        border: 0.1rem solid red;
      }
      #navtext {
        border: 0.2rem solid black;
        width : 30%;
      }
      .aq {
          display: inline-block;
      }
      #tagline {
          display: inline-block;
          margin-left: 0%;
      }
      .wave {
        float: left;
        margin: 20px;
        animation: wave 
                   ease-in-out 
                   0.5s 
                   infinite 
                   alternate;
        transform-origin: center -20px;
    }

    .wave:hover {
        animation-play-state: paused;
    }

    .wave img {
        border: 5px solid #f8f8f8;
        display: block;
        width: 200px;
        height: 250px;
    }

    .wave figcaption {
        text-align: center;
    }

    .wave:after{
        content: '';
        position: absolute;
        width: 20px; 
        height: 20px;
        border: 1.5px solid #ffffff;
        top: -10px; 
        left: 50%;
        z-index: 0;
        border-bottom: none;
        border-right: none;
        transform: rotate(45deg);
    }
   
    .wave:before{
        content: '';
        position: absolute;
        top: -23px;
        left: 50%;
        display: block;
        height: 44px;
        width: 47px;
        background-image: url(./images/screw-head.png);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        z-index: 16;
    }
    
    @keyframes wave {
        0% { transform: rotate(3deg); }
        100% { transform: rotate(-3deg); }
    }
    .animated{
        background: #000000;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding:10px;
        font-family: 'Roboto Mono', monospace;
      }
      .tagline {
            font-family: 'Tangerine', serif;
            font-size: 5rem;
            text-shadow: 3px 3px 3px #ababab;
            justify-content: center;
            text-decoration: solid;
      }


      /*  home page posts styling */
      /* #profilelist {
        display: flex;
      }
      .postl {
        display: flex;
        border: 3px red solid;
        /* height: 80%; */
        /* width: 40%;
      } */
      /* .postimg {
        border: 2px black solid;
        height: 50%;
      }
      .posim {
        height: 100%;
      } */ 
    
        .postl {
        border: 3px dotted red;
        list-style: none;
        display: flex;
        margin-left: -2rem;
        flex-wrap: wrap;
        flex-shrink: 0;
        margin-right: 3rem;
      }
      .postImg {
        height: 20rem;
        width: 20rem;
      }
      .post-list-ul {
        display: flex;
        flex-wrap: wrap;
        margin-left: 2.7rem;
      }

      
  </style>
  
</head>

<body>
  <div id="proj">
  <navbar>
    <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>

      <div class="dropdown">
        <button class="dropbtn">Services
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/create-post">Add a profile</a>
          <a href="/myprofile">My Profile</a>
          <a href="/myPosts">My Posts</a>
        </div>
      </div>
      <a href="#news">About us</a>
      <a href="#contact">Contact</a>
      <a href="#about">Emergency</a>

      
      <div>
        <% if(user) { %>
          
           <a href="/sign-out">Sign Out</a>         <%}else {%>
          <a href="/sign-up">Sign up</a>
          <a href="/sign-in">Sign in</a>
        <% } %>
      </div>
   
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
  </navbar>
  <section class="aq">
      <img src="/img/navbar.png" alt="gir child" sizes="(max-width:500px) 100vw, (max-width:900px) 50vw, 800px" srcset="" id="navimg">
  </section>
  <section id="tagline">
    <p class="tagline">"It wasn't enough to be kidnapped,<br> &nbsp &nbsp &nbsp &nbsp &nbsp I had to be insulted too <br>&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp Everyone wanted answers,<br> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbspI wasn't ready to give"</p>
  </section>
  <section class="animated">
    <div style="margin-top: 20px;">
        <figure class="wave">
            <img src="/img/animated1.jpg" alt="rajni"></img>
            <figcaption>Rajinikanth</figcaption>
        </figure>
        <figure class="wave">
            <img src="/img/animated1.jpg" alt="chuck"></img>
            <figcaption>Chuck Norris</figcaption>
        </figure>
        <figure class="wave">
            <img src="/img/animated1.jpg" alt="chan"></img>
            <figcaption>Jackie Chan</figcaption>
        </figure>
        <figure class="wave">
            <img src="/img/animated1.jpg" alt="bean"></img>
            <figcaption>Mr. Bean</figcaption>
        </figure>
    </div>
  </section>
  <section class="profiles">
    <ul id="profilelist">
      <% for(let i of post_list) { %>
        <li class="postl">
          <!-- <div class="postimg">
            <img src="https://images.news18.com/ibnlive/uploads/2021/03/1615286849_telemmglpict000170202931_trans_nvbqzqnjv4bqx4imtdblqjbnuz0lw5z3tn3r9tjwyifdlg50yivqdly.jpeg" class="posim">
          </div> -->
            <div class="details">
            <p><img src="/uploads/<%=i.image%>" alt="post_image"></p>
            <p><%= i.firstname%></p>
            <p><%= i.Father%></p>
            <p><%= i.unique%></p>
            <p><%= i.contact %></p>
            <p><%= i.anumber %></p>
            <p><%= i.address %></p>
            <p><%= i.city %></p>
            </div>
            <div class="link">
              <a href="/postFound">Click here if you find this person.</a>
            </div>
        </li>

    <%} %> 
    </ul>
  </section>
</div>
</body>

</html>